.DS_Store
node_modules/
dist/
npm-debug.log
selenium-debug.log
test/unit/coverage
test/e2e/reports
source/assets/

layout/_partial/css.ejs
layout/_partial/script.ejs
source/main.*
source/mobile.*
source/slider.*
package-lock.json
